@{
    ViewData["Title"] = "Index";
}

@model List<Product>



<div class="row">
    <div class="col-10">
        <div class="card">
            <div class="card-header">
                <h3>Ürünler</h3>
                @if (TempData["Status"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["Status"]
                    </div>
                }
            </div>
            <table class="table">
                <thead>
                    <tr style="text-align:center">
                        <th>Ürün Id</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Açıklaması</th>
                        <th>Ürün Fiyatı</th>
                        <th>Ürün Stok Miktarı</th>
                        <th>Barkod No</th>
                        <th>İşlem</th>
                        <th>İşlem</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="text-align:center">
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Price</td>
                            <td>@item.Stock</td>
                            <td>@item.Barcode</td>
                            <td><a asp-controller="products" asp-action="remove" asp-route-id="@item.Id" class="btn btn-danger">Sil</a></td>
                            <td><a asp-controller="products" asp-action="update" asp-route-id="@item.Id" class="btn btn-outline-primary">Güncelle</a></td>

                        </tr>
                    }
                </tbody>
            </table>
                <a asp-controller="products" asp-action="add" class="btn btn-outline-success">Ürün Ekle</a>
        </div>
    </div>
</div>

